on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: ${{secrets.DISPATCH}}   # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '16.x'                # set this to the node version to use
  GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
  GOOGLE_REDIRECT_URL: ${{secrets.API_URL}}


jobs:

  build:
    runs-on: ubuntu-latest
    environment:
        name: "Deployment"
        url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
    - uses: actions/checkout@v2
      with:
        path: "js-dispatch"

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'


    - name: Checkout google_roam
      uses: actions/checkout@v2
      with:
        repository: Ryxai/roam-google
        path: "roam-google"

    - name: Build roam-google - npm install and build
      run: |
        cd roam-google
        npm install
        npm run build
        cd ..
        mv roam-google/build/main.js js-dispatch/routes/roam-google.js
        rm -rf roam-google
        cd js-dispatch
    
    - name: Create config and public key files
      run: |
        mkdir config
        cd config
        echo '{"port":"${{secrets.PORT}}","hash_alg":"${{secrets.HASH_ALG}}","map_config":"${{secrets.MAP_CONFIG}}"}' > default.json
        ls
        cd ..
        echo "${{secrets.PUBLIC_KEY}}" > key

    - name: npm install and build
      run: |
        npm install
        npm run build
        
    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp 
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
