on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: ${{secrets.DISPATCH}}   # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '16.x'                # set this to the node version to use
  GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
  GOOGLE_REDIRECT_URL: ${{secrets.API_URL}}


jobs:

  roam-google:
    runs-on: ubuntu-latest
    environment:
      name: "Deployment"
    steps:

    - name: Checkout google_roam
      uses: actions/checkout@v2
      with:
        repository: Ryxai/roamjs-google

    - run: ls

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Install and build
      run: |
        npm install
        npm run build

    - name: Upload roam-google
      uses: actions/upload-artifact@v2
      with:
        name: roam-google
        path: build/main.js

  config:
    runs-on: ubuntu-latest
    environment:
      name: "Deployment"
    steps:

    - name: Make config.json
      run: echo '{"port":"${{secrets.PORT}}","hash_alg":"${{secrets.HASH_ALG}}","map_config":"${{secrets.MAP_CONFIG}}"}' > default.json

    - name: Upload config
      uses: actions/upload-artifact@v2
      with:
        name: default.json
        path: default.json

  key:
    runs-on: ubuntu-latest
    environment:
      name: "Deployment"
    steps:

    - name: Compose keyfile
      run: echo "${{secrets.PUBLIC_KEY}}" > key

    - name: Upload key
      uses: actions/upload-artifact@v2
      with:
        name: keyfile
        path: "key"

  build:
    runs-on: ubuntu-latest
    environment:
      name: "Deployment"
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: npm install and build
      run: |
        npm install
        npm run build

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: node-app
        path: .

  deploy:
    runs-on: ubuntu-latest
    needs: [roam-google, config, key, build]
    environment:
        name: "Deployment"
        url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:

    - name: Download dispatch
      uses: actions/download-artifact@v2
      with:
        name: node-app

    - name: Make configuration directory
      run: mkdir config

    - name: Download config
      uses: actions/download-artifact@v2
      with:
        name: default.json
        path: ./config/

    - name: Download key
      uses: actions/download-artifact@v2
      with:
        name: keyfile

    - name: Download roam-google
      uses: actions/download-artifact@v2
      with:
        name: roam-google
        path: ./routes/

    - name: Check all directories and files listed properly before deploy
      run: |
        ls
        cd config
        ls
        cd ..
        cd routes
        ls
        cd ..

    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp 
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
